{% extends "main.html" %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1>Password reset</h1>
      {% if form.errors %}
      <div class="alert alert-danger"><p>Please correct the error{{ form.errors.items|length|pluralize:"s" }} below.</p></div>
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <p class="text-info">Please enter your email address.</p>
          {{ form|as_bootstrap }}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary pull-right">Reset my password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
