{% extends "main.html" %}
{% load bootstrap_tags %}

{% block content %}
  {% if validlink %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h1>Password change</h1>
        {% if form.errors %}
        <div class="alert alert-danger"><p>Please correct the error{{ form.errors.items|length|pluralize:"s" }} below.</p></div>
        {% endif %}
        <form action="" method="post">
          {% csrf_token %}
          {{ form|as_bootstrap }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary pull-right">Reset my password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <p>
    The password reset link is invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
  {% endif %}
{% endblock %}
