{% extends "main.html" %}

{% block content %}
<div class="container">
  <h1>Password reset successful</h1>
    <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
  </div>
  {% endblock %}
