{% extends "main.html" %}

{% block content %}
<div class="container">
  <h1>Password reset successful</h1>
  <p>We have e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
</div>
{% endblock %}
