/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.center-block {
    float: none !important;
}
#login-dp {
    min-width: 250px;
    padding: 14px 14px 0px;
    overflow: hidden;
}
#login-dp .help-block {
    font-size: 12px;
}
#login-dp .bottom {
    border-top:1px solid #ddd;
    clear: both;
    padding: 14px;
}
#login-dp .social-buttons {
    margin: 12px 0px;
}
#login-dp .social-buttons a {
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998;
}
.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}
@media(max-width:768px) {
    #login-dp .bottom {
        border-top: 0 none;
    }
}
.error-msg {
    margin: 5px 0px 0px 5px;
    display: block;
}
.container img.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.navbar-nav img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -15px 2px -15px 2px;
}
#game-iframe{
    height: 80vh;
    border: none;
}
 .price-thumbnail {
    font-size: 130%;
    display: inline-block;
    margin-top: -14px;
    right: 30px;
    position: absolute;
}
.price-detail {
   font-size: 200%;
   display: inline-block;
   margin-top: -20px;
   right: 60px;
   position: absolute;
}
