<div class="col-xs-12 col-sm-3" id="sidebar">
  <div class="list-group">
    <a href="{% url 'category' category_url_name='latest-games' %}" class="list-group-item {% if current_category_url_name == 'latest-games' %} active{% endif %}">Latest games</a>
    <a href="{% url 'category' category_url_name='favourite-games' %}" class="list-group-item {% if current_category_url_name == 'favourite-games' %} active{% endif %}">Favourite games</a>
    {% if user.is_authenticated %}
    <a href="{% url 'category' category_url_name='my-games' %}" class="list-group-item {% if current_category_url_name == 'my-games' %} active{% endif %}">My games</a>
    {% endif %}
    <hr class="separator" />
    {% for category in categories %}
    <a href="{% url 'category' category_url_name=category.url_name %}" class="list-group-item {% if current_category_url_name == category.url_name %} active{% endif %}">{{ category.name }}</a>
    {% endfor %}
  </div>
</div>
