{% load bootstrap_tags %}

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1>{{ form_title }}</h1>
      <form action="" method="post" class="universal-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ content_before }}
        {{ form|as_bootstrap }}
        {{ content_after }}
        <div class="form-actions">
          {% if captcha %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{ captcha }}"></div>
          {% endif %}
          {% if not disabled_form %}
            <button type="submit" class="btn btn-primary pull-right">{{ form_submit }}</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
