{% extends "main.html" %}

{% block content %}
<div class="container">
  <h1>About</h1>
  <p class="text-justify">This project is built for getting +3 to the final grade from Web Software Development course at TUT.</p>
</div>
{% endblock %}
