{% extends "main.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 center-block">
      <h1>Let's go buy <em>{{ game_name }}</em></h1>
      <p>Hi {{ request.user.username }}, you are about to buy the game <em>{{ game_name }}</em> for a price of <strong>&#8364; {{ amount }}</strong>.</p>
      <p><strong>This action is irreversible. Are you sure you want to buy the game?</strong></p>
      <form action="{{ simple_payments_url }}" method="post" class="universal-form" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="pid" type="text" value="{{ pid }}">
        <input type="hidden" name="sid" type="text" value="{{ sid }}">
        <input type="hidden" name="amount" type="text" value="{{ amount }}">
        <input type="hidden" name="success_url" type="text" value="{{ success_url }}">
        <input type="hidden" name="cancel_url" type="text" value="{{ cancel_url }}">
        <input type="hidden" name="error_url" type="text" value="{{ error_url }}">
        <input type="hidden" name="checksum" type="text" value="{{ checksum }}">
        <div class="form-actions">
          <a href="javascript:history.go(-1)" class="btn btn-default pull-left">No</a>
          <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Yes, I want to buy this game</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
