{% extends "main.html" %}

{% block content %}
<div class="container">
  <div class="row">
    {% include "snippets/sidebar.html" with current_category_url_name=current_category_url_name categories=categories %}
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <h1 class="pull-left">{{ current_category_name }}</h1>
          {% if user.profile.role == user.profile.DEVELOPER and current_category_url_name == 'my-games' %}
          <a href="{% url 'add_game' %}" style="margin-top: 20px;" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add new game</a>
          {% endif %}
          <div class="clearfix"></div>
          <p>{{ current_category_description }}</p>
        </div>
      </div>
      <div class="row">
        {% for game in games %}
        <div class="col-xs-6 col-md-4 col-sm-6 hero-feature text-center">
          <div class="thumbnail">
            <img src="{{ game.image.url }}" alt="">
            {% if not game in user.profile.get_my_games_list %}
            <span class="label label-primary price-thumbnail">&#8364; {{ game.price }}</span>
            {% endif %}
            <div class="caption">
              <h2>{{ game.name }}</h2>
              <p>{{ game.description|truncatechars:128 }}</p>
              <div class="row">
                <!-- If user has already bought this game change blue Buy Now! button for green Play Now! button, Developer can play his own games at any time -->
                {% if game in user.profile.get_my_games_list %}
                <a href="{% url 'play_game' game_url_name=game.url_name %}" class="btn btn-success">Play Now!</a>
                {% else %}
                <a href="{% url 'buy_game' game_url_name=game.url_name %}" class="btn btn-primary">Buy Now!</a>
                {% endif %}
                <a href="{% url 'detail_game' game_url_name=game.url_name %}" class="btn btn-default">More Info</a>
              </div>
              {% if user.is_authenticated and user.profile.role == user.profile.DEVELOPER and game in user.profile.get_my_games_list %}
              <div class="row" style="margin-top: 10px;">
                <a href="{% url 'edit_game' game_url_name=game.url_name %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_game' game_url_name=game.url_name %}" class="btn btn-danger">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        {% if games.count == 0 %}
        <div class="alert alert-warning">
          We are sorry but in this category there are no games so far.
        </div>
        {% endif %}
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->
</div>
{% endblock %}
