{% extends "main.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 center-block">
      <h1>Do you want to delete game <em>{{ game_name }}</em>?</h1>
      <p><strong>This action is irreversible. Are you sure you want to delete the game from store?</strong></p>
      <form action="" method="post" class="universal-form">
        {% csrf_token %}
        <div class="form-actions">
          <a href="javascript:history.go(-1)" class="btn btn-default pull-left">No</a>
          <button type="submit" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Yes, I want to delete this game</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
