{% extends "main.html" %}

{% block header_placeholder %}
{{ block.super }}
<meta property="fb:app_id" content="{{ facebook_app_id }}" />
<meta property="og:url" content="{{ site_url }}{{ request.path }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="YounGo - {{ title }}" />
<meta property="og:description" content="{{ game.description }}" />
<meta property="og:image" content="{{ site_url }}{{ game.image.url }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% include "snippets/sidebar.html" with current_category_url_name=current_category_url_name categories=categories %}
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 hero-feature text-center">
          <div class="thumbnail">
            <img src="{{ game.image.url }}" alt="{{ game.name }}" style="width:auto; height:auto;">
            {% if not game in user.profile.get_my_games_list %}
            <span class="label label-primary price-detail">&#8364; {{ game.price }}</span>
            {% endif %}
            <div class="caption">
              <h1>{{ game.name }} </h1>
                <p class="text-justify">{{ game.description }}</p>
                <div class="row">
                  <!-- If user has already bought this game change blue Buy Now! button for green Play Now! button, Developer can play his own games at any time -->
                  {% if game in user.profile.get_my_games_list %}
                  <a href="{% url 'play_game' game_url_name=game.url_name %}" class="btn btn-success">Play Now!</a>
                  {% else %}
                  <a href="{% url 'buy_game' game_url_name=game.url_name %}" class="btn btn-primary">Buy Now!</a>
                  {% endif %}
                </div>
                {% if user.is_authenticated and user.profile.role == user.profile.DEVELOPER %}
                <div class="row" style="margin-top: 10px;">
                  <a href="{% url 'edit_game' game_url_name=game.url_name %}" class="btn btn-warning">Edit</a>
                  <a href="{% url 'delete_game' game_url_name=game.url_name %}" class="btn btn-danger">Delete</a>
                </div>
                {% endif %}
                <br />
                <div class="fb-like pull-right" data-href="{{ site_url }}{{ request.path }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div><!--/row-->
      </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
  </div>
  {% endblock %}

  {% block footer_placeholder %}
  {{ block.super }}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId={{ facebook_app_id }}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {% endblock %}
