{% extends "main.html" %}

{% block content %}
<div class="container">

  <div class="jumbotron hero-spacer">
    <h1>Warm Welcome at YounGo Games!</h1>
    <p>We are all about GAMES. Buy, play and enjoy games.</p>
    <p>
      {% if user.is_authenticated %}
      Wecome  {{ user.get_username }}
      {% else %}
      <a href="{% url 'login' %}"><strong>Sign in</strong></a>,
      or are you new here? So
      <a href="{% url 'register' %}"><strong>sign up</strong></a>
      {% endif %}
    </p>
  </div>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h2>Recommended Games</h2>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">
    {% for game in games %}
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="{{ game.image.url }}" alt="">
        {% if not game in user.profile.get_my_games_list %}
        <span class="label label-primary price-thumbnail">&#8364; {{ game.price }}</span>
        {% endif %}
        <div class="caption">
          <h2>{{ game.name }}</h2>
          <p>{{ game.description|truncatechars:128 }}</p>
          <div class="row">
            <!-- If user has already bought this game change blue Buy Now! button for green Play Now! button, Developer can play his own games at any time -->
            {% if game in user.profile.get_my_games_list %}
            <a href="{% url 'play_game' game_url_name=game.url_name %}" class="btn btn-success">Play Now!</a>
            {% else %}
            <a href="{% url 'buy_game' game_url_name=game.url_name %}" class="btn btn-primary">Buy Now!</a>
            {% endif %}
            <a href="{% url 'detail_game' game_url_name=game.url_name %}" class="btn btn-default">More Info</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
