{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>YounGo - {{ title }}</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "/css/gameshop.css" %}">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block header_placeholder %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">YounGo Games</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{% url 'category' category_url_name='latest-games' %}">Browse games</a></li>
          <li><a href="{% url 'high_scores' %}">High scores</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{user.profile.avatar.url}}" alt="avatar" class="avatar" /> <strong>{{ user.get_full_name }} ({{ user.get_username }})</strong> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'category' category_url_name='my-games' %}">My games</a></li>
              <li><a href="{% url 'payments' %}">My payments</a></li>
              <li><a href="{% url 'my_profile' %}">Profile</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
            </ul>
          </div>
          {% else %}
          <li><a href="{% url 'register' %}"><strong>Sign up</strong></a></li>
          <li><p class="navbar-text">Already have an account?</p></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Sign in</strong> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    Sign in as a Player via
                    <div class="social-buttons">
                      <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-fb"><span class="fa fa-facebook"></span>&nbsp;&nbsp;Facebook</a>
                    </div>
                    or
                    <form class="form" method="post" action="{% url 'login' %}" id="login-nav">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                        <div class="help-block text-right"><a href="{% url 'password_reset' %}">Forget the password?</a></div>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="remember_me"> Remember me
                        </label>
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      </div>
                    </form>
                  </div>
                  <div class="bottom text-center">
                    New here? <a href="{% url 'register' %}"><strong>Sign up</strong></a>
                  </div>
                </div>
              </li>
            </ul>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container">
      {% if messages %}
      <br />
          {% for msg in messages %}
          <div class="alert alert-{{msg.level_tag}}" role="alert">{{msg.message}}</div>
          {% endfor %}
      {% endif %}
    </div>

    {% block content %}{% endblock %}

    <div class="container">
      <hr>
      <footer>
        <p class="pull-left">&copy; {% now 'Y' %} YounGo</p>
        <p class="pull-right">WSD Project - Tomáš Caha, Abhijit Das, Likai Ren, Mohammad Imranur Rahman, Shaptarshi Basu</p>
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block footer_placeholder %}{% endblock %}
  </body>
</html>
