{% extends "main.html" %}
{% load get_item_from_dict %}
{% load search_replace %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <h1>My payments</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Game</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in payments %}
            <tr>
              <td>{{ payment.updated_at|date:'Y/m/d H:i:s' }}</td>
              <td>
                {% if not payment.game.is_deleted %}
                  <a href="{% url 'detail_game' game_url_name=payment.game.url_name %}">{{ payment.game.name }}</a>
                {% else %}
                  {{ payment.game.name }}
                {% endif %}
              </td>
              <td class="text-right">&#8364; {{ payment.price }}</td>
              <td><span class="label label-{{ payment.PAYMENT_STATUS_CHOICES|get_item_from_dict:payment.status|lower|search:'cancel'|replace:'danger'|search:'pending'|replace:'warning'|search:'error'|replace:'danger'}}">{{ payment.PAYMENT_STATUS_CHOICES|get_item_from_dict:payment.status|lower }}</span></td>
            </tr>
            {% endfor %}
            {% if payments.count == 0 %}
            <tr>
              <td class="warning" colspan="4"><em>No payments.</em></td>
            </tr>
            {% endif %}
          </tbody>
          {% if not payments.count == 0 %}
          <tfoot>
            {% if total_pending > 0 %}
            <tr>
              <td colspan="2" class="text-right"><strong>Total pending amount:</strong></td>
              <td class="text-right">&#8364; {{ total_pending }}</td>
              <td><span class="label label-warning">pending</span></td>
            </tr>
            {% endif %}
            {% if total_success > 0 %}
            <tr>
              <td colspan="2" class="text-right"><strong>Total success amount:</strong></td>
              <td class="text-right">&#8364; {{ total_success }}</td>
              <td><span class="label label-success">success</span></td>
            </tr>
            {% endif %}
            {% if total_cancel > 0 %}
            <tr>
              <td colspan="2" class="text-right"><strong>Total cancelled amount:</strong></td>
              <td class="text-right">&#8364; {{ total_cancel }}</td>
              <td><span class="label label-danger">cancel</span></td>
            </tr>
            {% endif %}
            {% if total_error > 0 %}
            <tr>
              <td colspan="2" class="text-right"><strong>Total error amount:</strong></td>
              <td class="text-right">&#8364; {{ total_error }}</td>
              <td><span class="label label-danger">error</span></td>
            </tr>
            {% endif %}
            <tr>
              <td colspan="2" class="text-right"><strong>Total amount:</strong></td>
              <td class="text-right">&#8364; {{ total }}</td>
            </tr>
          </tfoot>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
