{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Now playing <em>{{ game.name }}</em></h1>
  <iframe class="col-xs-12 col-md-8" id="game-iframe" src="{{game.url}}" ></iframe>
  <div class='col-xs-12 col-md-4' id='score-div'>
    <h2>High scores</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Player</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for score in high_scores %}
          <tr>
            <td>
              {% if not score.player.is_deleted %}
                <a href="{% url 'user_profile' username=score.player.user.username %}">{{ score.player.user.username }}</a>
              {% else %}
                {{ score.player.user.username }}
              {% endif %}
            </td>
            <td>{{ score.score }}</td>
          </tr>
          {% endfor %}
          {% if high_scores.count == 0 %}
          <tr>
            <td class="warning" colspan="2"><em>No high scores, let's go play and fill this table.</em></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="resultModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Save completed</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal" id="closeReset">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_placeholder %}
<script src="{% static "/js/playgame.js" %}"></script>
{% endblock %}
