{% extends "main.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Global high scores</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Player</th>
            <th>Game</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for score in high_scores %}
          <tr>
            <td>
              {% if not score.player.is_deleted %}
                <a href="{% url 'user_profile' username=score.player.user.username %}">{{ score.player.user.username }}</a>
              {% else %}
                {{ score.player.user.username }}
              {% endif %}
            </td>
            <td><a href="{% url 'detail_game' game_url_name=score.game.url_name %}">{{ score.game.name }}</a></td>
            <td>{{ score.score }}</td>
          </tr>
          {% endfor %}
          {% if high_scores.count == 0 %}
          <tr>
            <td class="warning" colspan="3"><em>No high scores, let's go play and fill this table.</em></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
