{% extends "main.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <br /><br />
      <img src="{{ profile.avatar.url }}" alt="avatar" class="avatar center-block" />
      <h1 class="text-center">{{ profile.user.username }} 
        <small>({{ profile.get_role_name }})</small></h1>
      <h2 class="text-center">{{ profile.user.get_full_name }}</h2>
      <p class="text-center">
        <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
